<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        body{
            background-color: #303030;
            color: #FFFFFF;
            font-family: 'Roboto', sans-serif;
        }

        h1{
            text-align: center;
        }
    </style>
    <title>Home</title>
</head>
<body>
    <h1>App is working !</h1>
</body>
</html>